<futu_opend>
    <!-- 协议监听地址,不填默认127.0.0.1 -->
    <ip>0.0.0.0</ip>
    <!-- API接口协议监听端口 -->
    <api_port>11111</api_port>
    <!-- API推送协议格式，0:pb, 1:json -->
    <push_proto_type>0</push_proto_type>
<!-- API订阅数据推送频率控制，单位毫秒，目前不包括K线和分时，不设置则不限制频率-->
<!-- <qot_push_frequency>1000</qot_push_frequency> -->
    <!-- Telnet监听地址,不填默认127.0.0.1 -->
    <!-- <telnet_ip>127.0.0.1</telnet_ip> -->
    <!-- Telnet监听端口 -->
    <!-- <telnet_port>22222</telnet_port> -->
    <!-- API协议加密私钥文件路径,不设置则不加密 -->
    <!-- <rsa_private_key>~/Rosa</rsa_private_key> -->
    <!-- 登录帐号 -->
    <login_account>11868816</login_account>
    <!-- 登录密码32位MD5加密16进制 -->
    <login_pwd_md5>510e762589d0dcfb038b96dfdbbd5024</login_pwd_md5>
    <!-- 登录密码明文，密码密文存在情况下只使用密文 -->
    <!-- <login_pwd>nn123456.</login_pwd>    -->
    <!-- FutuOpenD语言，en：英文，chs：简体中文 -->
    <lang>chs</lang>
    <!-- FutuOpenD日志等级，no,debug,info,warning,error,fatal -->
    <log_level>no</log_level>
    <!-- WebSocket监听地址, 不填默认127.0.0.1 -->
    <websocket_ip>0.0.0.0</websocket_ip>
    <!-- WebSocket监听端口, 不配置则不启用该功能 -->
    <websocket_port>33333</websocket_port>
    <!-- WebSocket鉴权密钥密文, 32位MD5加密16进制 -->
<websocket_key_md5>510e762589d0dcfb038b96dfdbbd5024</websocket_key_md5>
    <!-- WebSocket证书私钥文件路径，不配置则不启用SSL，需要和证书同时配置 -->
    <!-- <websocket_private_key>~/key</websocket_private_key> -->
    <!-- WebSocket证书文件路径，不配置则不启用SSL，需要和私钥同时配置 -->
    <!-- <websocket_cert>~/cer</websocket_cert> -->
    <!-- 是否接收到价提醒推送，0：不接收，1：接收 -->
    <price_reminder_push>1</price_reminder_push>
</futu_opend>